[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faster-whisper = "*"
ctranslate2 = "*"
yt-dlp = "*"
srt = "*"
pyinstaller = "*"
openai = "*"
python-dotenv = "*"
langchain-openai = "*"
langchain-core = "*"

[dev-packages]

[requires]
python_version = "3.11"
